body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.marker {
  stroke: red;
  transform: translate(-50%, -100%);
}

.markerNew {
  stroke: blueviolet;
  transform: translate(-50%, -100%);
}

.error{
  color: red;
}

.popup {
  width: 40vw;
  padding: 1rem;
}

.popup img {
  width: auto;
  height: 200px;
  text-align: center;
  display: block;
  margin: 0 auto;
}


.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  font-size: 2rems;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}